@media screen and (max-width: 1024px) {
    /* Header start */
    .header__axit {
        margin-left: 55px;
        margin-right: 30px;
    }

    .header__ax {
        font-size: 42px;
    }

    .header__it {
        font-size: 42px;
    }

    .header__menu-wrapper {
        margin-right: 20px;
    }
     /* Header end */



     /* Baner start */
     .baner {
        height: 768px;
    }

    .baner-wrapper {
        width: 875px;
    }

    .baner__container {
        width: 455px;
    }

    .baner__container-title-wrapper {
        width: 180px;
        height: 75px;
    }

    .baner__container-title:first-child {
        font-size: 54px;
    }

    .baner__container-title:last-child {
        font-size: 54px;
    }

    .baner__container-subtitle-wrapper {
        width: 455px;
        height: 126px;
        margin-bottom: 42px;
    }

    .baner__container-subtitle {
        font-size: 36px;
    }

    .baner__container-line {
        width: 115px;
        margin-bottom: 30px;
    }

    .baner__container-text {
        width: 180px;
        height: 32px;
        font-size: 14px;
        margin-bottom: 32px;
    }

    .baner__container-button {
        width: 180px;
        height: 50px;
    }

    .baner__block-wrapper {
        width: 400px;
        height: 450px;
        margin-right: 20px;
    }

    .baner__block-title-wrapper {
        width: 300px;
        height: 90px;
    }

    .baner__block-title {
        font-size: 18px;
    }

    .baner__block-title-free {
        font-size: 18px;
    }

    .baner__block-input {
        width: 300px;
    }

    .baner__block-input::placeholder {
        width: 300px;
    }

    .baner__block-button {
        width: 400px;
    }
    /* Baner end */



    /* Social start */
    .social__container {
        width: 402px;
        height: 90px;
    }
    
    .social__title-wrapper {
        width: 402px;
        height: 45px;
        margin-bottom: 13px;
    }

    .social__title {
        font-size: 18px;
    }

    .social__subtitle-wrapper {
        width: 402px;
        height: 32px;
    }

    .social__subtitle {
        font-size: 14px;
    }

    .social__block {
        width: 550px;
        margin-top: 25px;
        margin-left: 20px;
    }

    .social__icon {
        width: 64px;
        height: 64px;
    }
    /* Social end */



    /* Tabs start */
    .tabs {
        width: 992px;
        margin: 50px auto;
    }

    .tabs__button {
        width: 156px;
    }

    .tabs__button:first-child {
        width: 170px;
    }

    .tabs__container {
        width: 992px;
        height: 386px;
    }

    .tabs__title-wrapper {
        width: 483px;
        height: 89px;
    }

    .tabs__title {
        width: 480px;
        font-size: 24px;
    }

    .tabs__text-wrapper {
        width: 480px;
        height: 112px;
        margin-bottom: 38px;
    }

    .tabs__text-first {
        font-size: 14px;
    }

    .tabs__text-second {
        font-size: 14px;
        margin-top: 20px;
    }

    .tabs__download-wrapper {
        width: 230px;
        margin-bottom: 50px;
    }
    /* Tabs end */



    /* Awesome start */
    .awesome {
        height: 518px;
    }

    .awesome__title-wrapper {
        width: 992px;
        height: 120px;
    }

    .awesome__title {
        font-size: 24px;
    }

    .awesome__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .awesome__subtitle {
        font-size: 14px;
        margin-bottom: 65px;
    }

    .awesome__container {
        width: 992px;
        margin-left: 0px;
    }

    .awesome__icon-wrapper {
        width: 80px;
        height: 80px;
    }

    .awesome__block-title {
        font-size: 18px;
    }

    .awesome__text {
        font-size: 14px;
    }
    /* Awesome end */



    /* Pricing start */
    .pricing {
        height: 770px;

    }

    .pricing__title-wrapper {
        width: 992px;
        height: 120px;
    }

    .pricing__title {
        font-size: 24px;
    }

    .pricing__line {
        width: 143px;
        margin-bottom: 32px;
    }

    .pricing__text {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .pricing__container {
        width: 998px;
        height: 450px;
    }

    .pricing__block {
        width: 318px;
        height: 450px;
    }

    .pricing__block:hover {
        margin-top: -10px;
    }

    .pricing__title-block-wrapper {
        width: 317px;
        height: 54px;
    }

    .pricing__prise-wrapper {
        width: 317px;
        height: 89px;
    }

    .pricing__subtext-wrapper {
        width: 317px;
        height: 45px;
    }

    .pricing__gb-wrapper {
        width: 317px;
        height: 45px;
    }
    /* Pricing end */



    /* Reviews start */
    .reviews {
        width: 992px;
        height: 509px;
    }

    .reviews__title-wrapper {
        width: 992px;
        height: 120px;
    }

    .reviews__title {
        font-size: 24px;
    }

    .reviews__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .reviews__subtitle {
        font-size: 14px;
        margin-bottom: 32px;
        width: 992px;
        height: 16px;
    }

    .reviews__container {
        width: 317px;
    }

    .reviews__container-block {
        width: 317px;
    }

    .reviews__container-block:after {
        border-top: solid 25px #e2e2e2;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
    }

    .reviews__container-img {
        width: 63px;
        height: 63px;
        margin-right: 23px;
    }

    .reviews__block {
        width: 230px;
        height: 60px;
    }

    .reviews__block-title {
        font-size: 18px;
        width: 230px;
        height: 36px;
    }

    .reviews__block-subtitle {
        width: 231px;
        height: 16px;
        font-size: 14px;
    }
    /* Reviews end */



    /* Stylish start */
    .stylish {
        height: 358px;
        margin-top: 57px;
    }

    .stylish__title-wrapper {
        width: 992px;
        height: 120px;
        padding-top: 50px;
    }

    .stylish__title {
        font-size: 24px;
    }

    .stylish__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .stylish__text-wrapper {
        width: 992px;
        height: 16px;
    }

    .stylish__text {
        font-size: 14px;
    }

    .stylish__button {
        width: 370px;
        margin-top: 32px;
    }
    /* Stylish end */


    /* Contact start */
    .contact {
        width: 992px;
        height: 562px;
    }

    .contact__block-title-wrapper {
        width: 992px;
        height: 120px;
    }

    .contact__block-title {
        font-size: 24px;
    }

    .contact__block-line {
        width: 144px;
    }

    .contact__block-text {
        width: 992px;
        height: 16px;
        font-size: 16px;
        margin-bottom: 72px;
    }

    .contact__container-block-wrapper:first-child {
        width: 486px;
    }

    .contact__container-block-wrapper:last-child {
        width: 486px;
    }

    .contact__container-input {
        width: 446px;
        margin-right: 20px;
    }

    .contact__container-input-message {
        width: 446px;
    }

    .contact__button {
        width: 318px;
        margin-bottom: 50px;
    }
    /* Contact end */



    /* Footer start */
    .footer__container {
        width: 500px;
        height: 45px;
    }

    .footer__subtext {
        font-size: 14px;
        margin-top: 40px;
    }
    /* Footer end */
}

@media screen and (max-width: 425px) {
    /* Header start */
    .header {
        height: 56px;
        display: flex;
        align-items: center;
    }

    .header__axit {
        margin-right: 20px;
    }

    .header__ax {
        font-size: 36px;
    }

    .header__it {
        font-size: 36px;
    }

    .header__menu-wrapper {
        display: none;
    }

    .header__burger-wrapper {
        display: block;
    }

    .header__burger {
        width: 55px;
        padding-right: 20px;
    }
    /* Header end */



    /* Baner start */
    .baner {
        height: 1005px;
    }

    .baner-wrapper {
        width: 320px;
        flex-direction: column;
    }

    .baner__container {
        align-items: center;
        width: 288px;
    }

    .baner__container-title-wrapper {
       display: none;
    }

    .baner__container-subtitle-wrapper {
        width: 288px;
        height: 168px;
        margin-bottom: 40px;
        margin-top: 85px;
        align-items: center;
        text-align: center;
    }

    .baner__container-subtitle {
        font-size: 30px;
    }

    .baner__container-line {
        width: 134px;
    }

    .baner__container-button {
        width: 288px;
        margin-bottom: 56px;
    }

    .baner__block-wrapper {
        width: 288px;
        height: 381px;
    }

    .baner__block-title-wrapper {
        margin-left: 20px;
        width: 240px;
        height: 90px;
    }

    .baner__block-title-free {
        font-size: 14px;
    }

    .baner__block-title {
        font-size: 14px;
    }

    .baner__block-input {
        width: 240px;
    }

    .baner__block-button {
        width: 288px;
    }
    /* Baner end */



    /* Social start */
    .social {
        height: 239px;
        flex-direction: column;
        text-align: center;
    }

    .social__container {
        width: 287px;
        height: 100px;
        text-align: center;
    }

    .social__title-wrapper {
        width: 287px;
        margin: 31px 0 13px 17px;
        justify-content: center;
    }

    .social__subtitle-wrapper {
        width: 271px;
        height: 48px;
        margin-left: 33px;
    }

    .social__block {
        display: none;
    }

    .social__block-mobil {
        display: flex;
        width: 300px;
        align-items: center;
        text-align: center;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 32px;
        margin-left: 18px;
    }

    .social__icon {
        width: 28px;
        height: 26px;
    }
    /* Social end */



    /* Tabs start */
    .tabs {
        width: 288px;
        margin: 41px auto;
    }

    .tabs__button {
        width: 70px;
    }

    .tabs__button:first-child {
        width: 70px;
    }

    .tabs__container {
        width: 288px;
        height: 431px;
    }

    .tabs__block {
        text-align: center;
        width: 90%;
        margin: 0 0 0 25px;
    }

    .tabs__title-wrapper {
        width: 242px;
        height: 112px;
    }

    .tabs__title {
        width: 242px;
        font-size: 18px;
    }

    .tabs__text-wrapper {
        width: 242px;
        height: 180px;
    }

    .tabs__text-first {
        font-size: 13px;
    }

    .tabs__text-second {
        font-size: 13px;
        margin-top: 10px;
    }

    .tabs__download-wrapper {
        width: 242px;
        height: 50px;
    }

    .tabs__image {
        display: none;
    }
    /* Tabs end */



    /* Awesome start */
    .awesome {
        height: 1199px; 
     }
 
     .awesome__title-wrapper {
         height: 120px;
         width: 288px;
         margin: auto;
     }
 
     .awesome__title {
         font-size: 18px;
     }
 
     .awesome__line {
         width: 134px;
         margin-bottom: 25px;
     }
 
     .awesome__subtitle {
         font-size: 13px;
         height: 30px;
         width: 288px;
         margin: auto;
         margin-bottom: 83px;
     }
 
     .awesome__container {
         flex-direction: column;
         width: 288px;
         margin: auto;
     }
 
     .awesome__block {
         width: 288px;
         margin-left: 0;
         margin-bottom: 45px;
     }
    /* Awesome end */




    /* Pricing start */
    .pricing {
        height: 1480px;
    }

    .pricing__title-wrapper {
        width: 288px;
    }

    .pricing__title {
        font-size: 24px;
    }

    .pricing__line {
        width: 134px;
        margin-bottom: 24px;
    }

    .pricing__text {
        width: 288px;
        font-size: 14px;
        margin: auto;
        margin-bottom: 24px;
    }

    .pricing__container {
        flex-direction: column;
        width: 288px;
    }

    .pricing__block {
        width: 288px;
        height: 400px;
        margin-bottom: 27px;
    }

    .pricing__block:hover {
        margin-top: 0;
    }

    .pricing__title-block-wrapper {
        width: 288px;
        height: 47px;
    }

    .pricing__title-block {
        font-size: 18px;
    }

    .pricing__prise-wrapper {
        width: 288px;
        height: 79px;
    }

    .pricing__prise {
        font-size: 24px;
    }

    .pricing__subtext-wrapper {
        width: 288px;
        height: 40px;
    }

    .pricing__subtext {
        font-size: 14px;
    }

    .pricing__gb-wrapper {
        width: 288px;
        height: 39px;
    }

    .pricing__gb {
        font-size: 14px;
    }
    /* Pricing end */



    /* Reviews start */
    .reviews {
        width: 288px;
        height: 549px;
    }

    .reviews__title-wrapper {
        width: 288px;
        text-align: center;
    }

    .reviews__line {
        width: 134px;
        margin-bottom: 24px;
    }

    .reviews__subtitle {
        width: 288px;
        height: 32px;
    }

    .reviews__container {
        width: 288px;
    }

    .reviews__container:first-child {
        display: none;
    }

    .reviews__container:last-child {
        display: none;
    }

    .reviews__container-block {
        width: 288px;
    }

    .reviews__container-img {
        width: 57px;
        height: 57px;
        margin-right: 22px;
    }

    .reviews__block {
        width: 204px;
        height: 61px;
    }

    .reviews__block-title {
        width: 204px;
        font-size: 14px;
    }

    .reviews__block-subtitle {
        width: 205px;
        font-size: 13px;
    }
    
    .reviews__container-mobil {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 32px;
        width: 170px;
        margin-left: 50px;
        padding-bottom: 20px;
    }
    /* Reviews end */



    /* Stylish start */
    .stylish {
        height: 358px;
        margin-top: 30px;
    }

    .stylish__title-wrapper {
        width: 288px;
        padding-top: 0;
    }

    .stylish__line {
        width: 134px;
        margin-bottom: 16px;
    }

    .stylish__text-wrapper {
        text-align: center;
        width: 288px;
        height: 48px;
    }

    .stylish__button {
        width: 287px;
        height: 50px;
    }
    /* Stylish end */



    /* Contact start */
    .contact {
        width: 288px;
        height: 807px;
    }

    .contact__block-title-wrapper {
        width: 287px;
        height: 120px;
    }

    .contact__block-line {
        width: 134px;
        margin-bottom: 24px;
    }

    .contact__block-text {
        display: flex;
        text-align: center;
        width: 288px;
        height: 32px;
        margin-bottom: 64px;
    }

    .contact__container {
        flex-direction: column;
    }

    .contact__container-block-wrapper:first-child {
        width: 288px;
        margin-bottom: 50px;
    }

    .contact__container-block-wrapper:last-child {
        width: 288px;
        margin-bottom: 50px;
    }

    .contact__container-input {
        width: 288px;
        margin-right: 16px;
        margin-bottom: 50px;
    }

    .contact__container-input-message {
        width: 288px;
        padding-bottom: 182px;
    }

    .contact__button {
        width: 288px;
        margin: 40 auto;
    }
    /* Contact end */



    /* Footer start */
    .footer {
        height: 164px;
        margin-top: 90px;
    }  
     
    .footer__container {
        display: none;
    }

    .footer__container-mobil {
        width: 282px;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    .footer__icon {
        width: 26px;
        height: 26px;
    }

    .footer__subtext {
        margin-top: 45px;
        height: 16px;
    }
    /* Footer end */
}