@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');

.tabs {
    width: 80%;
    margin: 0 auto;
}

.tabs__tab {
    font-size: 14px;
    line-height: 19px;  
    margin-bottom: -1px;  
}

.tabs__button {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Releway', sans-serif;
    border: none;
    background-color: transparent;
    width: 203px;
    height: 40px;
}

.tabs__button:first-child{
    border: 1px solid #86878B;
    border-radius: 5px 5px 0px 0px;
    border-bottom-color: #FFFFFF;         
}

.tabs__container {
    display: flex;
    width: 1170px;
    height: 500px;
    border: 1px solid #86878B;
}

.tabs__block {
    flex-direction: column;
    width: 70%;
    padding: 1px 30px 0px 100px;
}

.tabs__title-wrapper {
    width: 570px;
    height: 124px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column; 
}

.tabs__title {
    font-size: 30px;
    font-family: 'Releway', sans-serif;
}

.tabs__text-wrapper {
    width: 570px;
    height: 210px;
    align-items: center;
    justify-content: center;
    padding: 27px 0px 0px 0px;
}

.tabs__text-first {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.tabs__text-second {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px 0px 0px;
}

.tabs__download-wrapper {
    width: 270px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC7979;
    margin: 27px 0px 54px 0px;
}

.tabs__download {
    font-family: 'Releway', sans-serif;
    width: 270px;
    height: 58px;
    font-size: 18px;
    background-color: #EC7979;
    opacity: 1;
    filter: alpha(opacity=100);
    color: white;
    border: 0px;
}

.tabs__image-wrapper {
    height: 500px;
    width: 470px;
}

.awesome {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
}

.awesome__title {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
}

.awesome__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome__line {
    width: 170px;
    height: 1px;
    border-top: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.awesome__subtitle {
    color: #86878B;
    text-align: center;
    margin-bottom: 110px;
    font-size: 18px;
}

.awesome__container {
    display: flex;
    justify-content: space-between;
}

.awesome__block {
    width: 370px;
    text-align: center;
}

.awesome__icon-wrapper {
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EC7979;
    border-radius: 60%;
    margin: 0 auto 78px;
}

.awesome__block-title {
    font-family: 'Releway', sans-serif;
    margin-bottom: 47px;
}
