@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');

/* Baner start */

/* Baner end */


/* Social start */

.social {
    width: 1510px;
    height: 140px;
    background-color: #F8EFEF;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 99px;
}

.social__container {
    width: 470px;
    height: 140px;
    padding-left: 170px;
}

.social__title-wrapper {
    width: 470px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}

.social__title {
    font-family: "Releway", sans-serif;
    font-size: 24px;
}

.social__subtitle-wrapper {
    width: 470px;
    height: 42px;
}

.social__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #86878B;
}

.social__block {
    width: 600px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.social__icon {
    width: 70px;
    height: 70px;
}

.fa-facebook {
    color: #cccccc;
    margin-left: 30px;
}

.fa-twitter {
    color: #cccccc;
    margin-left: 30px;
}

.fa-linkedin {
    color: #cccccc;
    margin-left: 30px;
}

.fa-pinterest {
    color: #cccccc;
    margin-left: 30px;
}

.fa-instagram {
    color: #cccccc;
    margin-left: 30px;
}

.fa-github {
    color: #cccccc;
    margin-left: 30px;
}

.fa-rss {
    color: #cccccc;
    margin-left: 30px;
}
/* Social end */



/* Tabs start */

.tabs {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-left: 170px;
}

.tabs__tab {
    font-size: 14px;
    line-height: 19px;  
    margin-bottom: -1px;  
}

.tabs__button {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: transparent;
    width: 203px;
    height: 40px;
}

.tabs__button:first-child {
    border: 1px solid #86878B;
    border-radius: 5px 5px 0px 0px;
    border-bottom-color: #FFFFFF;         
}

.tabs__container {
    display: flex;
    width: 1170px;
    height: 500px;
    border: 1px solid #86878B;
}

.tabs__block {
    flex-direction: column;
    width: 70%;
    padding: 1px 30px 0px 100px;
}

.tabs__title-wrapper {
    width: 570px;
    height: 124px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column; 
}

.tabs__title {
    font-size: 30px;
    font-family: 'Releway', sans-serif;
}

.tabs__text-wrapper {
    width: 570px;
    height: 210px;
    align-items: center;
    justify-content: center;
    padding: 27px 0px 0px 0px;
}

.tabs__text-first {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.tabs__text-second {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 30px 0px 0px 0px;
}

.tabs__download-wrapper {
    width: 270px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EC7979;
    margin: 27px 0px 54px 0px;
}

.tabs__download {
    font-family: 'Releway', sans-serif;
    width: 270px;
    height: 58px;
    font-size: 18px;
    background-color: #EC7979;
    opacity: 1;
    filter: alpha(opacity=100);
    color: white;
    border: 0px;
}

.tabs__image-wrapper {
    height: 500px;
    width: 470px;
}

/* Tabs end */



/* Awesome start */

.awesome {
    font-family: 'Open Sans', sans-serif;
    width: 1170px;
    height: 665px;
    margin: 0 auto;
    margin-bottom: 58px;
    padding-left: 170px;
}

.awesome__title {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
}

.awesome__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome__line {
    width: 170px;
    height: 1px;
    border-top: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.awesome__subtitle {
    color: #86878B;
    text-align: center;
    margin-bottom: 110px;
    font-size: 18px;
}

.awesome__container {
    display: flex;
    justify-content: space-between;
}

.awesome__block {
    width: 370px;
    text-align: center;
}

.awesome__icon-wrapper {
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EC7979;
    border-radius: 60%;
    margin: 0 auto 78px;
}

.awesome__block-title {
    font-family: 'Releway', sans-serif;
    margin-bottom: 47px;
    
}

/* Awesome end */



/* Pricing start */

.pricing {
    width: 1508px;
    height: 900px;
    background-color: #F5F5F5;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pricing__title-wrapper {
    width: 1170px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__title {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    margin: 0;
}

.pricing__line {
    width: 170px;
    height: 1px;
    border-top: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.pricing__text {
    color: #86878B;
    text-align: center;
    margin-bottom: 110px;
    font-size: 18px;
    font-family: "Open Sans";
}

.pricing__container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 530px;
    margin: 0px 170px 50px 168px;
}

.pricing__block {
    width: 370px;
    height: 510px;
    margin-left: 15px;
    margin-right: 15px;
}

.pricing__block:hover {
    margin-top: -15px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing__title-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 370px;
    background-color: #333333;
    border: 1px solid #F5F5F5;
}

.pricing__title-block {
    font-family: "Releway", sans-serif;
    color: #FFFFFF;
    font-size: 24px;
}

.pricing__prise-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 100px;
    background-color: #333333;
    border: 1px solid #F5F5F5;
}

.pricing__prise {
    font-family: "Releway", sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}

.pricing__subtext-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 50px;
    background-color: #333333;
    border: 1px solid #F5F5F5;
}

.pricing__subtext {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #FFFFFF80;
}

.pricing__gb-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #f5f5f5;
}

.pricing__gb {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #86878B;
}

/* Pricing end */



/* Reviews start */

.reviews {
    width: 1171px;
    height: 630px;
    margin: 0 auto;
    padding-left: 170px;
}

.reviews__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 150px;
}

.reviews__title {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
}

.reviews__line {
    width: 170px;
    height: 1px;
    border-top: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.reviews__subtitle {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 18px;
    color: #86878B;
    margin-bottom: 83px;
}

.reviews__block-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 220px;
}

.reviews__block {
    margin: 0px 15px 70px 15px;
    background-color: #e2e2e2;
    width: 370px;
    height: 180px;
    border-radius: 10px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reviews__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #86878B;
}

   .reviews__block:after {
    z-index: -1;
    position: absolute;
    top: 98.1%;
    left: calc(15%);
    content: '';
    width: 0;
    height: 0;
    border-top: solid 30px #e2e2e2;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}

.reviews__manager {
    display: flex;
    flex-direction: row;
    height: 70px;
}

.reviews__container-wrapper {
    display: flex;
    flex-direction: row;
    width: 370px;
    margin-right: 30px;
}

.reviews__container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.reviews__manager-icon {
    width: 70px;
    height: 70px;
}

.reviews__manager-title {
    display: flex;
    align-items: center;
    font-family: "Releway", sans-serif;
    font-size: 24px;
    color: #000000;
    width: 269px;
    height: 54px;
}

.reviews__manager-subtitle {
    width: 270px;
    height: 21px;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #000000;
}
/* Reviews end */


/* Stylish start */
.stylish {
    margin-top: 64px;
    width: 1510px;
    height: 442px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Kursi/img/image.png)
}

.stylish__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1170px;
    height: 150px;
    margin: 50px 171px 0px 169px;
}

.stylish__title {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    color: #FFFFFF;
}

.stylish__line {
    width: 170px;
    height: 1px;
    border-top: 1px solid #FFFFFF;
    margin: auto;
    margin-bottom: 40px;
}

.stylish__text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
    width: 1169px;
    height: 21px;
}

.stylish__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.stylish__button {
    width: 370px;
    height: 58px;
    color: #FFFFFF;
    font-family: "Releway", sans-serif;
    font-size: 18px;
    border: 1px solid #FFFFFF;
    background-image: none; 
    background-color: transparent;
    position: absolute;
    margin: 73px 570px 50px 570px;
}
/* Stylish end */